<!DOCTYPE html>
{% extends "layout/base.html" %}
{% load static %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/profile_page.css' %}"/>
    <h1> Profile Page of {{ name }} </h1>
    <div id="profile_picture">
        <img src="{{ profile_pic }}" class="center">
    </div>
    <div id="name">
    {{ name }}
    </div>
    <div id="bio">
    <div class="container">
        <div class="row">
            <div class="col-md-6" class="subject">Birthday</div>
            <div class="col-md-6" class="value">{{ birthday }}</div>
        </div>
        <div class="row">
            <div class="col-md-6" class="subject">Gender</div>
            <div class="col-md-6" class="value">{{ gender }}</div>
        </div>
        <div class="row">
            <div class="col-md-6" class="subject">Expertise</div>
            <div class="col-md-6" class="value">{% for object in expertise %}
                <div class = "expertise">{{ object }}</div>
            {% endfor %}</div>
        </div>
        <div class="row">
            <div class="col-md-6" class="subject">Description</div>
            <div class="col-md-6" class="value">{{ description }}</div>
        </div>
        <div class="row">
            <div class="col-md-6" class="subject">Email</div>
            <div class="col-md-6" class="value">{{ email }}</div>
        </div>
    </div>
    </div>
{% endblock %}
