* {
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: lightgray;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat';
}

.item2 {
  background-color: white;
}

#wrapper {
  background-color: lightblue;
}

img.center {
    margin-top: 30px;
    height: 150px;
    width: 150px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

    height: 200px;
    width: 200px;
    object-fit: cover;

}

#name {
    margin-top: 15px;
    padding: 1%;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.container {
  padding-left: 15%;
  padding-right: 10%;
}

.row {
    padding: 10px;
}

.subject{
    padding-left: 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: right;
}

.value{
    padding-left: 50px;
    padding-right: 185px;
    font-family: 'Montserrat';
}

.expertise{
    border: none;
    border-radius: 30px;
    float: left;
    font-family: 'Montserrat';
    margin-right: 10px;
    padding: 12px 15px 12px 15px;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
{%load static%}
.navbar-default{
	background-image: url("/static/1.jpg");
}

body{
	background-color: #f2f2f2;
}


.button1{
	margin-top: 17px;
	background-color: white;
}

#navbar-data{
	margin-right: 30px;
	margin-bottom: -40px;

}

h1{
	color: white;
	text-decoration: none;
	font-family: Pacifico;
	font-size: 25px;
	margin-bottom: 20px;
	margin-left: 20px;
}
a:hover{
	text-decoration: none;
}

h5{
	color: white;
	padding: 10px;
	margin-left:-20px;
}

h5:hover{
	background-color: yellow;
	border-radius: 10px;
	opacity: 0.7;
	color: black;
}

button{
	background-color: darkgrey;
	margin-bottom: 20px;
}

.list-menu{
	margin: 2px 25px 2px 3px;

}

.list-menu:hover{
	background-color: yellow;
}

footer{
	background-color: black;
	margin-top: 160px;
	height: 60px;

}

#section_1{
	margin-top: -20px;
	background-color: lightgrey;
	height: 550px;
}

p{
	text-align: center;
	color: white;
	padding-top: 20px;
}

#section-form{
	margin: 100px;
}

#section-list{
	margin-top: 150px;
}

.icon{
	height: 30px;
	width: 30px;
	margin-top: 5px;

}

.iterasi:hover{

	box-shadow: 10px 10px 5px lightgrey;
}

@media only screen and (min-width: 480px){
.iterasi{
	border: 1px solid lightblue;
	margin: 6px;
	margin-left: 70px;
	}
}
@media only screen and (max-width: 480px){
.iterasi{
	border: 1px solid lightblue;
	margin-left: 0px;
	margin-bottom: 4px;
	}

.btn{
	margin-left: 18px;
}

}

.hidden {
	display: none;
}

.button-show{
	margin-right: 30px;
}
