<nav class="navbar navbar-default bg-faded">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="button1 navbar-toggle" data-toggle = "collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="header.html" id="logo"><h1>Sambung.In</h1></a>
		</div>

		<div class=" collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right" >
				{% load static %}
				<li class="list-menu"><a href="{% url 'update_status:index' %}"><img src="{%static "status.png" %}" alt="status" class="icon" name="Status" /></a></li>
				<li class="list-menu"><a href="{% url 'profile:index' %}"><img src="{%static "profle.png" %}" alt="profile"  class="icon"/></a></li>
				<li class="list-menu"><a href="{% url 'add_friend:index' %}" ><img src="{%static "addfriend.png" %}" alt="addfriend" class="icon"/></a></li>
				<li class="list-menu"><a href="{% url 'dashboard:index' %}"><img src="{%static "stats.png" %}" alt="stats" class="icon"/></a></li>
			</ul>
		</div>

	</div>
</nav>
