{%load static%}
.navbar-default{
	background-image: url("/static/1.jpg");
}

body{
	background-color: #f2f2f2;
}


.button1{
	margin-top: 17px;
	background-color: white;
}

#navbar-data{
	margin-right: 30px;
	margin-bottom: -40px;

}

h1{
	color: white;
	text-decoration: none;
	font-family: Pacifico;
	font-size: 25px;
	margin-bottom: 20px;
	margin-left: 20px;
}
a:hover{
	text-decoration: none;
}

h5{
	color: white;
	padding: 10px;
	margin-left:-20px;
}

h5:hover{
	background-color: yellow;
	border-radius: 10px;
	opacity: 0.7;
	color: black;
}

button{
	background-color: darkgrey;
	margin-bottom: 20px;
}

.list-menu{
	margin: 2px 25px 2px 3px;
	
}

.list-menu:hover{
	background-color: yellow;
}

footer{
	background-color: black;
	margin-top: 160px;
	height: 60px;

}

#section_1{
	margin-top: -20px;
	background-color: lightgrey;
	height: 550px;
}

p{
	text-align: center;
	color: white;
	padding-top: 20px;
}

#section-form{
	margin: 100px;
}

#section-list{
	margin-top: 150px;
}

.icon{
	height: 30px;
	width: 30px;
	margin-top: 5px;
	
}

.iterasi:hover{
	
	box-shadow: 10px 10px 5px lightgrey;
}

@media only screen and (min-width: 480px){
.iterasi{
	border: 1px solid lightblue;
	margin: 6px;
	margin-left: 70px;
	}
}
@media only screen and (max-width: 480px){
.iterasi{
	border: 1px solid lightblue;
	margin-left: 0px;
	margin-bottom: 4px;
	}

.btn{
	margin-left: 18px;
}

}

.hidden {
	display: none;
}

.button-show{
	margin-right: 30px;
}