{% extends "layout/base.html" %}
{% load static %}
<!DOCTYPE html>

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/profile_page.css' %}"/>
<h1> Your Name </h1>
<hr/>

<section name="input-list" id="input-list">
	<div class="container">

		<form id="form" method="POST" action="{% url 'update_status:add_status' %}">
			<h2>Write Something:</h2>
	        {% csrf_token %}
	        {{ status_form }}
	        <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
	        <br>
	    </form>
    </div>
</section>

<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">Your Status</h2>
        <div class="flex">
            {% if status %}
                {% for data in status %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="to-do-list-title">
                                {{data.title}}
                            </div>
                            <div class="to-do-list-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="to-do-list-description">
                                {{data.description}}
                            </div>
                            <div class="to-do-list-delete">
                                <div class="to-do-list-delete-button" data-id="{{data.id}}">Delete</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data status.
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
