{% extends "add_friend/layout/base.html" %}
{% load static %}
{% block content %}
<section id="section-form">
	<form id="form" method="POST" action="{% url 'add_friend:add_friend' %}">
		{% csrf_token %}
		{{friends_form}}
		<br>
		<button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add Friend</button>
	</form>	
</section>
<div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
    
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Info</h4>
                </div>
                <div class="modal-body">
                  <p>Success Added</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              
            </div>
        </div>
<center><button onclick="myFunction()" class="btn btn-primary button-show">Show Your Friends</button></center>
<div id="list-of-friend" class="hidden">
    <div class="container-fluid">
        <div class="row">
            {% if friends %}
                {% for friend in friends %}
                    <div class="iterasi col-md-5">
                        <h6><strong>Name</strong>: {{friend.name}}</h6>
                        <h6><strong>Url</strong>: <a href="{{friend.url}}">Http://{{friend.url}}</a></h6>
                        <h6 id="date"><strong>Date added</strong>: {{friend.created_date}}</h6>
                    </div>
                    
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada Teman.
            </div>
            {% endif %}
        </div>
    </div>    
</div>

<script type="text/javascript">
    function myFunction() {
    document.getElementById("list-of-friend").classList.toggle('hidden');
    }
</script>



{% endblock %}