{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SambungIn Official Website</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<link rel="stylesheet" type="text/css" href="{% static 'css/add_friend.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		{% include "add_friend/partials/header.html" %}
	</header>

	<content>
		{% block content %}

		{% endblock %}	
	</content>

	<footer>
		{% block footer %}
        {% include "add_friend/partials/footer.html" %}
        {% endblock %}
	</footer>


</body>
</html>