* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat';
}

h2 {
  font-weight: bold;
  text-align: center;
  font-family: 'Montserrat';
}

.expertise{
    border: none;
    border-radius: 30px;
    float: left;
    font-family: 'Montserrat';
    margin-right: 10px;
    padding: 12px 15px 12px 15px;
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#input-list{
  background: linear-gradient(to bottom right, #606062, #393939);
}

#my-list{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
#my-list .my-list-title{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}
.to-do-list{
  top: 0px;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.flex{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  position: relative;
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px){
    .flex-item{
      position: relative;
      padding: 0 15px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
    }
  }

.to-do-list .to-do-list-title {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
  font-size: 12px;
  padding: 0 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}
.to-do-list .to-do-list-delete {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.to-do-list .to-do-list-delete {
  bottom: -50px;
  display: none;
}

.to-do-list:hover .to-do-list-delete {
  bottom: -50px;
  display: block;
  box-shadow: 0 12px 25px 10px rgba(0,0,0,0.2);
}
{%load static%}
.navbar-default{
	background-image: url("/static/1.jpg");
}

body{
	background-color: #f2f2f2;
}


.button1{
	margin-top: 17px;
	background-color: white;
}

#navbar-data{
	margin-right: 30px;
	margin-bottom: -40px;

}

h1{
	color: white;
	text-decoration: none;
	font-family: Pacifico;
	font-size: 25px;
	margin-bottom: 20px;
	margin-left: 20px;
}
a:hover{
	text-decoration: none;
}

h5{
	color: white;
	padding: 10px;
	margin-left:-20px;
}

h5:hover{
	background-color: yellow;
	border-radius: 10px;
	opacity: 0.7;
	color: black;
}

button{
	background-color: darkgrey;
	margin-bottom: 20px;
}

.list-menu{
	margin: 2px 25px 2px 3px;

}

.list-menu:hover{
	background-color: yellow;
}

footer{
	background-color: black;
	margin-top: 160px;
	height: 60px;

}

#section_1{
	margin-top: -20px;
	background-color: lightgrey;
	height: 550px;
}

p{
	text-align: center;
	color: white;
	padding-top: 20px;
}

#section-form{
	margin: 100px;
}

#section-list{
	margin-top: 150px;
}

.icon{
	height: 30px;
	width: 30px;
	margin-top: 5px;

}

.iterasi:hover{

	box-shadow: 10px 10px 5px lightgrey;
}

@media only screen and (min-width: 480px){
.iterasi{
	border: 1px solid lightblue;
	margin: 6px;
	margin-left: 70px;
	}
}
@media only screen and (max-width: 480px){
.iterasi{
	border: 1px solid lightblue;
	margin-left: 0px;
	margin-bottom: 4px;
	}

.btn{
	margin-left: 18px;
}

}

.hidden {
	display: none;
}

.button-show{
	margin-right: 30px;
}
