.navbar-inverse{
	background-color: #009999;
	border-color: white;
}

body{
	background-color: #f2f2f2;
}

#navbar-data{
	margin-right: 30px;
	margin-bottom: -40px;

}

h1{
	color: white;
	text-decoration: none;
	font-family: Pacifico;
	margin-bottom: 20px;
}
a:hover{
	text-decoration: none;
}

h4{
	color: white;
	padding: 10px;
	margin: 1px;
}

h4:hover{
	background-color: black;
}


