<!DOCTYPE html>
{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<style>
body{
  background-color: lightgray;
}
.photo{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: inline-block;
}
#name-post{
	font-size: 20px;
	display: inline;
}
.main-title{
    color: black;
    font-family: "Century Gothic";
    font-weight: bold;
    font-size: 25px;
    margin-left: 8%;
}
.profile{
	display: inline-block;
	margin-left: 15%;
}

.stats{
    margin: 20px;
    text-align:center;
    color: #2c093d;
    font-size: 20px;
    font-family: "Century Gothic"
}
.friends-count{
    display: inline-block;
    border-radius: 15px;
    border-spacing: 10px;
    padding: 9px 12px 9px 12px;
    background: lightblue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, lightblue, #d381f9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, lightblue, #d381f9 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.feeds-count{
    margin-left: 30%;
    display: inline-block;
    border-radius: 15px;
    border-spacing: 10px;
    padding: 9px 12px 9px 12px;
    background: lightblue;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, lightblue, #d381f9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, lightblue, #d381f9);
}
#friends{
	display: inline-block;
}
#total-friends{
	display: inline-block;
}
#feeds{
	display: inline-block;
}
#total-feeds{
	display: inline-block;
}
.latest{
    border-top: thick double black;
    width: 75%;
    margin: auto;
    padding: 10px;
    font-family: "Century Gothic"
}

.update-status-date-added{
    background: lightgray;
}
.update-status-description{
    margin: 15px;
}
.photo-post{
    display: inline-block;
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    display: inline-block;
}
#name{
	font-size: 30px;
	display: inline;
	font-family: "Century Gothic"
}

</style>
<h1 class="main-title">Statistic</h1>
<div class ="profile">
        <h2>
        <img class="photo" src= {{ profile_pic }} >
        <p id="name"> {{ name }}</p>
        </h2>
</div>
<div class = "stats">
      <div class = "friends-count">
        <p id="friends"> Friends</p>
        <p id="total-friends"> {{ friend_count}} </p>
      </div>
      <div class = "feeds-count">
        <p id="feeds"> Feed</p>
        <p id="total-feeds"> {{post_count}} Posts </p>
      </div>
</div>
<div class="latest">
        <h2 id="latest"> Latest Post</h2>
        <div class="media">
            <div class="media-body">
                 <div class="update-status-title">
                    <h3>
                    <img class="photo-post" src={{ profile_pic }}>
                    <p id="name-post"> {{ name }} </p>
                    </h3>
                </div>
                <div class="update-status-description">
                    {{description}}
                </div>
                <div class="update-status-date-added">
                    Posted on {{time}}
                </div>
            </div>
        </div>
</div>
{% endblock %}
